* {
    user-select: none;
}
.gameover {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 100%;
    font-size: xx-large;
}

.board {
    width: 100%;
    position: relative;
    display: block;
    margin: auto;
}
.row {
    height: calc(var(--board-height) / var(--row-cells));
}
.board.gameover {
    opacity: 0.5;
}

.cell {
    outline: 1px solid rgba(97, 131, 138, 0.1);
    width: calc(var(--board-width) / var(--row-cells));
    height: calc(var(--board-height) / var(--row-cells));
    display: inline-block;
}

.snake {
    background-color: green;
}
.fruit {
    background-color: yellow;
}
